//All styles can be added here.
@mixin shortBreakpointMax($max) {
	@media (max-width: #{$max}px) {
		@content;
	}
}

@mixin flexOwnGrid($child, $kol, $mr, $mb) {
	// Mixing ini digunakan di parentnya
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none; // jika elem parentnya ul
	#{$child} {
		margin-right: $mr;
		margin-bottom: #{$mb};
		width: ((100% - (($kol - 1) * $mr)) / $kol);
		&:nth-child(#{$kol}n) {
			margin-right: 0;
		}
	}
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	// @apply bg-[#e9e9e9];
	@apply bg-white;
	main {
		@apply pt-24 sm:pt-16 md:pt-16 overflow-x-hidden;
	}
}

p {
	@apply text-gray-500 font-jakarta leading-relaxed mb-5 md:text-sm md:leading-normal;
}
a {
	@apply text-gray-500 font-jakarta;
}

strong {
	@apply text-gray-600 font-jakarta leading-relaxed;
}

.sectionTitle {
	writing-mode: vertical-rl;
	@apply rotate-180 uppercase absolute h-max left-0 md:left-2;
}

.otherTitle {
	@apply capitalize relative before:absolute before:top-2/4 -translate-y-2/4 before:-right-16 before:content-[''] before:h-[1px] before:w-[50px] before:bg-red-500;
}

.cardbox {
	@apply relative p-6 shadow-[0_2px_89px_2px_rgba(0,0,0,0.1)];
}

@mixin borderDotSpace {
	&:after {
		position: absolute;
		bottom: 0;
		content: "";
		width: 100%;
		height: 1px;
		display: block;
		background-image: linear-gradient(to right, #333 20%, rgba(255, 255, 255, 0) 0%);
		opacity: 0.6;
		background-position: top;
		background-size: 5px 1px;
		background-repeat: repeat-x;
	}
}

@mixin borderDotVerAfter {
	&:after {
		position: absolute;
		bottom: 0;
		content: "";
		width: 3px;
		height: 100%;
		display: block;
		background-image: linear-gradient(to bottom, #333 20%, rgba(255, 255, 255, 0) 20%);
		opacity: 0.6;
		background-position: top;
		background-size: 1px 5px;
		background-repeat: repeat-y;
	}
}

.verticalDot {
	@apply absolute top-0 w-[2px] h-full;
	@include borderDotVerAfter;
}

.horzLineDot {
	@apply absolute top-8 w-full h-[2px];
	@include borderDotSpace;
}

.usePattern {
	background: url("../img/pattern.png");
	background-blend-mode: color-burn;
}

.accordi-list-style {
	li {
		@apply relative pl-4 before:absolute before:content-[''] before:top-2 before:w-[5px] before:h-[5px] before:-left-[3px] before:bg-black before:rounded-full;
	}
}

.dftr-berita {
	li {
		@apply font-jakarta relative pl-6 before:absolute before:content-[''] before:top-1 before:w-4 before:h-4 before:left-0;
		&:before {
			background-image: url("../img/checklist.png");
			background-size: contain;
		}
	}
}

.dftr-lst {
	li {
		@apply font-jakarta relative pl-6 before:absolute before:content-[''] before:top-1 before:w-4 before:h-4 before:left-0;
		&:before {
			background-image: url("../img/double-arrow.png");
			background-size: contain;
		}
	}
}

.headNav {
	// @apply transition-all duration-300 ease-in-out bg-gradient-to-b from-black/[.7] to-transparent;
	// @apply transition-all duration-300 ease-in-out bg-black/[.05];
	@apply transition-all duration-300 ease-in-out bg-white;
	.brandWhite {
		@apply block;
	}
	.brandColor {
		@apply hidden;
	}

	.topmenu {
		@apply mr-4 relative;
		> ul {
			@apply space-x-5;
			li {
				@apply inline-block cursor-pointer;
				> a {
					@apply text-base inline-block text-black font-jakarta capitalize relative;
				}
				// &:not(:last-child) {
				// 	@apply pr-7;
				// }
				&.active {
					> a {
						// @apply font-bold before:absolute before:content-[''] before:h-[1px] before:w-full before:bg-black before:left-0 before:-bottom-2.5;
						@apply font-bold;
					}
				}
				&:hover {
					> a {
						@apply text-black/[.7];
					}
				}
				&.sublst {
					@apply after:inline-block after:content-[''] after:border-t-[.3em] after:border-r-[.3em] after:border-r-transparent after:border-l-transparent after:border-l-[.3em] after:border-b-0 after:border-black after:relative after:-top-[1px] after:align-middle after:ml-1;
					.wrap-sub {
						@apply absolute pt-5 left-0 w-full min-w-[620px] hidden;
						ul {
							li {
								@apply block;
								a {
									@apply block py-1 px-2;
									&:hover {
										@apply bg-primarydefault text-white rounded;
									}
								}
							}
						}
					}
					&:hover {
						.wrap-sub {
							@apply block;
						}
					}
				}
			}
		}
	}
	.humburger-btn {
		@apply text-black inline-block;
	}
	&.gulung {
		// @apply bg-graydark shadow-[0_5px_10px_-3px_rgba(0,0,0,.1)];
		@apply bg-white shadow-[0_5px_10px_-3px_rgba(0,0,0,.1)];
		.brandColor {
			@apply block;
		}
		.brandWhite {
			@apply hidden;
		}
	}
	&.inner {
		@apply bg-white;
	}
}

// .headNav {
// 	@apply transition-all duration-300 ease-in-out;

// 	.brandWhite {
// 		@apply block;
// 	}
// 	.brandColor {
// 		@apply hidden;
// 	}
// 	.humburger-btn {
// 		@apply text-white;
// 	}
// 	&.gulung {
// 		@apply bg-white;
// 		.brandColor {
// 			@apply block;
// 		}
// 		.brandWhite {
// 			@apply hidden;
// 		}
// 		// .topmenu {
// 		// 	ul li {
// 		// 		@apply text-gray-800;
// 		// 	}
// 		// 	ul li a {
// 		// 		@apply text-gray-800;
// 		// 	}
// 		// }
// 		.humburger-btn {
// 			@apply text-black;
// 		}
// 	}
// }

.mobileTopmenu {
	@apply bg-black/[.7] w-full h-[calc(100%-4rem)] fixed top-16 left-0 transition-all duration-500 ease-in-out opacity-0 pointer-events-none overflow-y-auto;

	.wrapMobileMenu {
		@apply bg-white relative w-full h-auto -top-full transition-all duration-500 ease-in-out flex flex-col space-y-5;

		.headMobileNav {
			@apply border-b border-black/[.12] hidden;
			a[title="closeBtn"] {
				@apply w-10 h-10 flex justify-center items-center;
			}
		}

		ul {
			@apply space-y-2 px-5;
			li {
				@apply relative capitalize font-jakarta py-1 px-2;
				a {
					@apply font-jakarta text-black font-semibold;
				}
				&.active {
					// @apply border-l-2 border-primarydefault;
					@apply before:absolute before:w-[3px] before:h-full before:bg-primarydefault before:top-0 before:-left-5;
				}
				// &:hover {
				// &.active {
				// 	> a {
				// 		@apply text-white/[.5] font-montserrat;
				// 	}
				// }
				&.mobileMnuHasSub {
					@apply relative after:inline-block after:absolute after:content-[''] after:border-t-[.3em] after:border-r-[.3em] after:border-r-transparent after:border-l-transparent after:border-l-[.3em] after:border-b-0 after:border-black after:top-3 after:right-0 after:align-middle after:ml-1;
					ul {
						@apply py-3 hidden;
						li {
							@apply space-y-2;
							a {
								@apply block;
							}
						}
					}
				}
			}
		}

		.feedMobileNav {
			@apply p-5;
		}
	}
	&.menuMobileOpen {
		@apply opacity-100 pointer-events-auto;
		.wrapMobileMenu {
			@apply top-0;
		}
	}
}

/* the parent */
.slick-list {
	@apply -mx-3;
}

/* the slides */
.slick-slide {
	@apply mx-3;
}

.slick-dots {
	li {
		button {
			&:before {
				@apply text-4xl;
			}
		}
		&.slick-active {
			button {
				&:before {
					@apply text-primarydefault;
				}
			}
		}
	}
}

.overview-product {
	.slick-list {
		@apply -mx-2;
	}

	/* the slides */
	.slick-slide {
		@apply mx-2;
	}
}

.packages {
	.slick-list {
		@apply sm:-mx-1;
	}

	.slick-slide {
		@apply sm:mx-1;
	}
}

.btn {
	@apply py-3 px-4 capitalize;
	&.ghost {
		@apply border border-indigo-500;
	}
}

.btn-primary {
	@apply bg-gradient-to-r from-indigo-300 to-indigo-600 text-white rounded-full font-jakarta tracking-wider hover:to-blue-500;
}

section {
	@apply py-8 sm:py-10 md:py-12;
}

.nav-carousel-slide {
	.navArrow {
		@apply flex justify-center items-center;
		&.slick-disabled {
			@apply pointer-events-none opacity-40;
		}
	}
}

.clipPath {
	clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}

.hero-box {
	// @apply relative top-0 w-full overflow-hidden h-[calc(100vh-22vh)] sm:h-[calc(100vh-20vh)] md:h-[calc(100vh-18vh)] lg:h-[calc(100vh-16vh)] xl:h-[calc(100vh-14vh)];
	@apply relative top-0 w-full overflow-hidden;
	.slick-dots {
		@apply flex justify-center absolute left-2/4 -translate-x-2/4 -bottom-10;
		li {
			@apply inline-block mx-1;
			button {
				@apply relative text-transparent;
				&:before {
					@apply absolute content-[''] w-2 h-2 rounded-full bg-silver top-[50%] translate-y-[-50%];
				}
			}
			&.slick-active {
				button {
					&:before {
						@apply bg-indigo-500;
					}
				}
			}
		}
	}
	.hero-carousel {
		&.slick-initialized {
			visibility: visible;
			max-height: none;
		}
		.hero-item {
			// @apply w-full md:h-auto relative before:absolute before:content-[''] before:top-0 before:left-0 before:bg-black/[.1] before:w-full before:h-full before:z-[1];
			@apply w-full md:h-auto relative;
			figure {
				@apply w-full block overflow-hidden relative;
				img {
					// @apply block w-full h-full origin-center transition-all duration-700 ease-in-out transform scale-150;
					@apply inline-block w-full;
				}
			}
			// &.slick-active {
			// 	figure {
			// 		img {
			// 		  @apply scale-100;
			// 		}
			// 	}
			//  }
		}
	}
}

// .hero-box {
// 	@apply relative w-full h-full;
// 	.slick-dots {
// 		@apply flex justify-center absolute left-2/4 -translate-x-2/4 -bottom-10;
// 		li {
// 			@apply inline-block mx-1;
// 			button {
// 				@apply relative text-transparent;
// 				&:before {
// 					@apply absolute content-[''] w-2 h-2 rounded-full bg-silver top-[50%] translate-y-[-50%];
// 				}
// 			}
// 			&.slick-active {
// 				button {
// 					&:before {
// 						@apply bg-indigo-500;
// 					}
// 				}
// 			}
// 		}
// 	}
// 	.hero-carousel {
// 		.hero-item {
// 			@apply max-h-[732px] h-full w-full md:h-auto relative before:absolute before:content-[''] before:top-0 before:left-0 before:bg-black/[.2] before:w-full before:h-full before:z-[1];
// 			figure {
// 				@apply w-full h-full block overflow-hidden relative;
// 				img {
// 					@apply block w-full h-full origin-center transition-all duration-700 ease-in-out transform scale-150;
// 				}
// 			}
// 			&.slick-active {
// 				figure {
// 					img {
// 					  @apply scale-100;
// 					}
// 				}
// 			 }

// 		}
// 	}

// 	.bannerText {
// 		@apply absolute z-[1] bottom-0 left-0 w-full pointer-events-none;
// 		.wrapContentText {
// 			@apply 1xl:max-w-[1280px] mx-auto;
// 			.contentText {
// 				@apply w-[710px] md:w-[80%] pt-24 md:pt-20 sm:pt-16 md:pb-10 sm:pb-2 relative inline-block pointer-events-auto min-h-[411px] md:min-h-0 sm:min-h-0 bg-[#E81B00]/[.85] md:bg-transparent bg-blend-hard-light;
// 				.textTitleSlide {
// 					@apply relative before:absolute before:content-[''] before:w-[3px] before:h-10 before:bg-white before:left-0 before:top-2;
// 					.itemTextTitle {
// 						article {
// 							@apply mb-10 md:mb-2;
// 						}
// 						h2, p {
// 							@apply text-white font-montserrat;
// 						}
// 						h2 {
// 							@apply text-[38px] md:text-[24px] sm:text-[17px] sm:font-semibold font-bold mb-5 leading-tight;
// 						}
// 						p {
// 							@apply italic text-[20px] md:text-[16px] sm:hidden mb-2;
// 							strong {
// 								@apply text-[#81D9FF];
// 							}
// 							&.bottomNote {
// 								@apply font-light text-sm sm:hidden not-italic md:mb-0;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

.prod-detail-wrap {
	@apply relative;
	.slideArrowProd {
		&.slick-disabled {
			@apply pointer-events-none opacity-40;
		}
	}
}

.head-inner-child-page {
	@apply flex w-full;
	// height: calc(55vh - 5vh);
}

.teams {
	@include flexOwnGrid(".team-item", 5, 2%, 0);
	@include shortBreakpointMax(768) {
		@include flexOwnGrid(".team-item", 3, 2%, 2.1%);
	}
	@include shortBreakpointMax(576) {
		@include flexOwnGrid(".team-item", 2, 0%, 2.1%);
	}
	@include shortBreakpointMax(360) {
		@include flexOwnGrid(".team-item", 2, 0, 2.1%);
	}
}

.izin {
	@include flexOwnGrid(".izin-item", 3, 2%, 0);
	@include shortBreakpointMax(576) {
		@include flexOwnGrid(".izin-item", 1, 0, 2%);
	}
}

.porto-slider {
	.slick-list {
		@apply pb-8;
	}
	.porto-item {
		@apply py-5;
	}
}

.box-content {
	@apply flex justify-between md:flex-col;

	// .content-right,
	// .content-left {
	// 	@apply flex-1;
	// }
	.content-left {
		@apply pr-20 md:pr-0 sm:mb-7 md:mb-10;
	}
	&.switch {
		.content-left {
			@apply order-2 pr-0;
		}
		.content-right {
			@apply order-1 pr-20 mb-10 md:pr-0;
		}
	}
}

.video-trigger {
	@apply absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 z-[3];
	a.play {
		@apply block rounded-full shadow-[0_0_0_35px_rgba(255,255,255,0.2)] animate-[ripple_2s_ease-in-out_infinite];
		div {
			@apply rounded-full w-[90px] h-[90px] bg-indigo-500 shadow-[0_15px_50px_-10px_rgba(0,0,0,0.3)];
			span {
				@apply absolute content-[''] block top-2/4 left-10 -translate-y-2/4 border-[12px] border-transparent border-l-[15px] border-l-white;
			}
		}
		&:before {
			@apply absolute content-[''] top-2/4 left-2/4 w-[90px] h-[90px] rounded-full -translate-y-2/4 -translate-x-2/4 shadow-[0_0_0_12px_rgba(255,255,255,0.2)];
		}
		&:hover {
			div {
				@apply bg-white;
				span {
					@apply border-l-[15px] border-l-indigo-500;
				}
			}
		}
	}
}

.columns-box {
	@apply flex md:flex-col space-x-8 md:space-x-0;
	// img {
	//   margin-bottom: 15px;
	//   display: block;
	// }
	strong {
		@apply block mb-[7px] capitalize font-semibold text-sm font-jakarta;
	}

	.cardbox {
		@apply min-h-[280px] flex flex-col justify-center;
		//   &:not(:last-child) {
		// 	 @apply mb-[30px];
		//   }
	}
	.left {
		@apply flex-1 md:mb-[30px] md:mr-0 space-y-8;
	}
	.right {
		@apply flex-1 mt-16 md:mt-0 md:ml-[15px] space-y-8;
	}
}

.sec-product {
	.cardbox {
		@apply overflow-hidden hover:before:scale-x-100;
		&:before {
			@apply absolute content-[''] w-full h-full top-0 left-0 bg-gradient-to-r from-indigo-400 to-indigo-600 z-[-1] scale-x-0 duration-500 ease-in-out origin-left;
		}
		//  &:hover {
		// 	&:before {
		// 		@apply scale-x-100;
		// 	}
		//  }
	}
}

#accordion {
	.card {
		border-top: none;
		border-left: none;
		border-right: none;
		border-radius: 0;
		border-bottom: 1px solid #d1d3d4;
		.card-header {
			background: none;
			border: none;
			padding: 25px 0;

			&.top-headline {
				padding: 0 0 25px;
			}
		}
		.card-body {
			padding: 0 0 25px;
		}
	}
}

@keyframes ripple {
	0% {
		box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);
	}
	100% {
		box-shadow: 0 0 0px 50px rgba(255, 255, 255, 0);
	}
}
