<!-- Tabs -->
<div>
   <div class="text-sm font-medium text-center sm:text-left text-gray-500 border-b border-gray-300">
       <!-- <ul class="flex flex-wrap -mb-px" id="tabs-nav"> -->
       <ul class="flex sm:flex-col -mb-px" id="tabs-nav">
           <li class="mr-2">
               <a href="#tab1" class="item-tab">information</a>
           </li>
           <li class="mr-2">
               <a href="#tab2" class="item-tab">size &amp; fit </a>
           </li>
           <li class="mr-2">
               <a href="#tab3" class="item-tab">review</a>
           </li>
           <!-- <li>
               <a class="inline-block p-4 text-gray-400 rounded-t-lg cursor-not-allowed dark:text-gray-500">Disabled</a>
           </li> -->
       </ul>
   </div>
   <!-- Content Tab -->
   <div id="tabs-content">
       <div id="tab1" class="tab-content">
         <div class="py-3">
           <p class="mb-3">This vinyl backpack is extremely durable and useful. It features a unique design and is a good choice for storing whatever you need. The backpack also offers:</p>
           <ul class="dftr-lst-std-default space-y-2">
               <li>Reliable zip locks</li>
               <li>One front pocket</li>
               <li>Adjustable shoulder straps</li>
               <li>Internal zip pocket</li>
               <li>Synthetic lining</li>
           </ul>
         </div>
       </div>
       <div id="tab2" class="tab-content">
           <div class="py-3">
               <p>Lorem ipsum dolor sit amet. 2</p>
           </div>
       </div>
       <div id="tab3" class="tab-content">
           <div class="py-3">
               <p>Lorem ipsum dolor sit amet. 3</p>
           </div>
       </div>
   </div> <!-- END tabs-content -->
</div>